{% extends 'base.html' %}

{% load static %}
{% block content %}
<section class="section-conten padding_top">


            <div class="container">
            <div class="row">


            <aside class="sidebar col-md-3">
                <div class="sidebar-layout pt:5rem">
                    <div class="sidebar-content">

                        <ul class="list-group">
                            <a href="{%url 'userapp:dashboard'%}" class="list-group-item">Dashboard</a>
                            <a href="{%url 'userapp:viewprofile' %}" class="list-group-item">View Profile</a>
                            <a href="{%url 'userapp:editprofile'  %}" class="list-group-item">Edit Profile</a>
                            <a href="" class="list-group-item active">Change Password</a>
                            <a href="{%url 'userapp:viewAddresses' %}" class="list-group-item">View All Address</a>

                        <br>
                        <a href="{%url 'userapp:logout'%}" class="btn btn-dark btn-block">
                            <i class="fa fa-power-off">
                            </i>  <span class="text">Logout</span>
                        </a>
                    </ul>

            </div>
            </div>

            </aside>
            <main class="col-md-9">

<article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3">
                            Change your password
                                        </strong>
                        <span>{{user.full_name}}</span>
                    </header>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-12">
                                <form action="{%url 'userapp:changepassword'%}" method="POST" >
                                    {%csrf_token%}



                                        <div class="form-group">

                                           <input type="password" name="current_password" placeholder="Current password"class="form-control" required>
                                          </div>
                                        <div class="form-group">

                                          <input type="password" name="new_password" placeholder="Create new password"class="form-control" required>
                                        </div>
                                        <div class="form-group">

                                            <input type="password" name="confirm_password" placeholder="Confirm new password"class="form-control" required>
                                          </div>
                                <button type="submit" class="btn btn-primary">Submit</button>

                                {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                               {{message}}
                            </div>
                          {% endfor %}

                                </form>

                            </div>

                        </div>
                    </div>
                </article>

            </main>
            </div>
            </div>
        </section>
{% endblock %}