<footer class="footer_part">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-sm-6 col-lg-2">
                <div class="single_footer_part">
                    <h4>Shop</h4>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'category' %}">Chairs</a></li>
                        <li><a href="{% url 'category' %}">Sofa Sets</a></li>
                        <li><a href="{% url 'category' %}">Wadrobe</a></li>
                        <li><a href="{% url 'category' %}">Dining Table</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="single_footer_part">
                    <h4>Quick Links</h4>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'userapp:home' %}">Home</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="{% url 'userapp:login' %}">Login</a></li>
                        <li><a href="{% url 'userapp:user_register' %}">Register</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="single_footer_part">
                    <h4>Features</h4>
                    <ul class="list-unstyled">
                        <li><a href="">Quality Furniture</a></li>
                        <li><a href="">Quality Services</a></li>
                        <li><a href="">Quality Customer Support</a></li>
                        <li><a href="">Value for money</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="single_footer_part">
                    <h4>Resources</h4>
                    <ul class="list-unstyled">
                        <li><a href="">Guides</a></li>
                        <li><a href="">Research</a></li>
                        <li><a href="">Experts</a></li>
                        <li><a href="">Agencies</a></li>
                    </ul>
                </div>
            </div>
        </div>
</footer>