{% extends 'base.html' %}

{% load static %}
{% block content %}

<style>
    .single_product_item img {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    </style>
    
 
 

   
    <section class="cat_product_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Browse Categories</h3>
                            </div> 
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li>
                                        <a href="{% url 'category_with_id' 0 %}">All Categories</a>
                                    </li>
                                    {% for category in categories %}
                                    <li>
                                        <a href="{% url 'category_with_id' category.id %}">{{ category.category_name }}</a>
                                        
                                    </li>
                                    {% endfor %}
                             
                                </ul>
                            </div>
                        </aside>

                        

                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product_top_bar d-flex justify-content-between align-items-center">
                              
                                <div class="single_product_menu d-flex">
                                   
                                    <div class="top_pageniation">
                                    
                                    </div>
                                </div>
                                
                                <div class="single_product_menu d-flex">
                                    <form method="GET" action="{% url 'search' %}" class="d-flex">
                                        <input type="text" class="form-control me-2" name="keyword" placeholder="Search" aria-label="Search">
                                       &nbsp;&nbsp;&nbsp;
                                        <button class=" btn btn-info success " style="border-radius: 10px;"type="submit">Search</button>
                                    </form>
                                </div>
                                
                                  
                            </div>
                        </div>
                    </div>
                    
                    {% if keyword %}
<h3>
    Search results for "{{keyword}}" are:
</h3>
{%endif%}

<div class="col-lg-12">
    <div class="pagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <i class="ti-angle-double-left"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <i class="ti-angle-left"></i>
                        </a>
                    </li>
                {% endif %}
                {% for page in page_obj.paginator.page_range %}
                    {% if page_obj.number == page %}
                        <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
                    {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
                        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <i class="ti-angle-right"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                            <i class="ti-angle-double-right"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div> 






                    <div class="row align-items-center latest_product_inner">
                        {% for product in page_obj %}

                        <div class="col-lg-4 col-sm-6">
                          <div class="single_product_item">

                            <a href="{% url 'carts:productdetail' product.id %}" >

                            <img src="{{product.images.url}}" class="img-fluid rounded" alt="{{ product.product_name }}">
                        </a>
                            <div class="single_product_text">
                              <h4>{{ product.product_name }}</h4>
                              <h3>{{ product.price }}</h3>
                              {% if product.stock > 0 %}
                              <a href="{% url 'carts:addtocart' product.id  %}" class="add_cart">+ add to cart</a>
                              {%else%}
                              <a href="{% url 'category_with_id' 0 %}"class="add_cart">Out of Stock</a>
                              {%endif%}
                              <a href="{% url 'carts:addToWish' product.id  %}"><i class="ti-heart"></i></a>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Category Product Area =================-->

    <!-- product_list part start-->
   

    
{% endblock %}