{% extends 'base.html' %}

{% load static %}
{% block content %}

<style>
    .single_product_item img {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    </style>
    
 
 
 <!--================Home Banner Area =================-->
    <!-- breadcrumb start-->
    <!-- <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Shop Category</h2>
                            <p>Home <span>-</span> Shop Category</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- breadcrumb start-->

    <!--================Category Product Area =================-->
   
    <section class="cat_product_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Browse Categories</h3>
                            </div> 
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li>
                                        <a href="{% url 'category_with_id' 0 %}">All Categories</a>
                                    </li>
                                    {% for category in categories %}
                                    <li>
                                        <a href="{% url 'category_with_id' category.id %}">{{ category.category_name }}</a>
                                        <!-- <span>({{ category.product_set.count }})</span> -->
                                    </li>
                                    {% endfor %}
                                    <!-- <li>
                                        <a href="#">Chair</a>
                                        <span>(250)</span>
                                    </li>
                                    <li>
                                        <a href="#">Wadrobe</a>
                                        <span>(250)</span>
                                    </li>
                                    <li>
                                        <a href="#">Dining set</a>
                                        <span>(250)</span>
                                    </li> -->
                                    <!-- <li>
                                        <a href="#">Fresh Fish</a>
                                        <span>(250)</span>
                                    </li>
                                    <li>
                                        <a href="#">Meat Alternatives</a>
                                        <span>(250)</span>
                                    </li>
                                    <li>
                                        <a href="#">Meat</a>
                                        <span>(250)</span>
                                    </li> -->
                                </ul>
                            </div>
                        </aside>

                        <!-- <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Product filters</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li>
                                        <a href="#">Apple</a>
                                    </li>
                                    <li>
                                        <a href="#">Asus</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">Gionee</a>
                                    </li>
                                    <li>
                                        <a href="#">Micromax</a>
                                    </li>
                                    <li>
                                        <a href="#">Samsung</a>
                                    </li>
                                </ul>
                                <ul class="list">
                                    <li>
                                        <a href="#">Apple</a>
                                    </li>
                                    <li>
                                        <a href="#">Asus</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">Gionee</a>
                                    </li>
                                    <li>
                                        <a href="#">Micromax</a>
                                    </li>
                                    <li>
                                        <a href="#">Samsung</a>
                                    </li>
                                </ul>
                            </div>
                        </aside> -->

                        <!-- <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Color Filter</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li>
                                        <a href="#">Black</a>
                                    </li>
                                    <li>
                                        <a href="#">Black Leather</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">Black with red</a>
                                    </li>
                                    <li>
                                        <a href="#">Gold</a>
                                    </li>
                                    <li>
                                        <a href="#">Spacegrey</a>
                                    </li>
                                </ul>
                            </div>
                        </aside> -->

                        <aside class="left_widgets p_filter_widgets price_rangs_aside">
                            <!-- <div class="l_w_title">
                                <h3>Price Filter</h3>
                            </div> -->
                            <div class="widgets_inner">
                                <div class="range_item">
                                    <!-- <div id="slider-range"></div> -->
                                    <input type="text" class="js-range-slider" value="" />
                                    <!-- <div class="d-flex">
                                        <div class="price_text">
                                            <p>Price :</p>
                                        </div>
                                        <div class="price_value d-flex justify-content-center">
                                            <input type="text" class="js-input-from" id="amount" readonly />
                                            <span>to</span>
                                            <input type="text" class="js-input-to" id="amount" readonly />
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product_top_bar d-flex justify-content-between align-items-center">
                                <!-- <div class="single_product_menu">
                                    <p><span>10000 </span> Prodict Found</p>
                                </div> -->
                                <!-- <div class="single_product_menu d-flex">
                                    <h5>sort by : </h5>
                                    <select>
                                        <option data-display="Select">name</option>
                                        <option value="1">price</option>
                                        <option value="2">product</option>
                                    </select>
                                </div> -->
                                <div class="single_product_menu d-flex">
                                    <!-- <h5>show :</h5> -->
                                    <div class="top_pageniation">
                                        <!-- <ul>
                                            <li>1</li>
                                            <li>2</li>
                                            <li>3</li>
                                        </ul> -->
                                    </div>
                                </div>
                                
                                <div class="single_product_menu d-flex">
                                    <form method="GET" action="{% url 'search' %}" class="d-flex">
                                        <input type="text" class="form-control me-2" name="keyword" placeholder="Search" aria-label="Search">
                                       &nbsp;&nbsp;&nbsp;
                                        <button class=" btn btn-info success " style="border-radius: 10px;"type="submit">Search</button>
                                    </form>
                                </div>
                                
                                  
                            </div>
                        </div>
                    </div>
                    
                    {% if keyword %}
<h3>
    Search results for "{{keyword}}" are:
</h3>
{%endif%}

<div class="col-lg-12">
    <div class="pagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <i class="ti-angle-double-left"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <i class="ti-angle-left"></i>
                        </a>
                    </li>
                {% endif %}
                {% for page in page_obj.paginator.page_range %}
                    {% if page_obj.number == page %}
                        <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
                    {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
                        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <i class="ti-angle-right"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                            <i class="ti-angle-double-right"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div> 






                    <div class="row align-items-center latest_product_inner">
                        {% for product in page_obj %}

                        <div class="col-lg-4 col-sm-6">
                          <div class="single_product_item">

                            <a href="{% url 'carts:productdetail' product.id %}" >

                            <img src="{{product.images.url}}" class="img-fluid rounded" alt="{{ product.product_name }}">
                        </a>
                            <div class="single_product_text">
                              <h4>{{ product.product_name }}</h4>
                              <h3>{{ product.price }}</h3>
                              {% if product.stock > 0 %}
                              <a href="{% url 'carts:addtocart' product.id  %}" class="add_cart">+ add to cart</a>
                              {%else%}
                              <a href="{% url 'category_with_id' 0 %}"class="add_cart">Out of Stock</a>
                              {%endif%}
                              <a href="{% url 'carts:addToWish' product.id  %}"><i class="ti-heart"></i></a>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Category Product Area =================-->

    <!-- product_list part start-->
    <section class="product_list best_seller">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        {% comment %} <h2>Best Sellers <span>shop</span></h2> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-12">
                    <div class="best_product_slider owl-carousel">
                        <div class="single_product_item">
                            <img src="img/product/product_1.png" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                            <img src="img/product/product_2.png" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                            <img src="img/product/product_3.png" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                            <img src="img/product/product_4.png" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                            <img src="img/product/product_5.png" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
{% endblock %}